#todo-form {
    display: flex;
    align-items: center;
}

#todo-form > input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin: 5px 5px;
}

.todo__input {
    width: 15em;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

input[type="date"] {
    position:relative;
    width: 9em;
    height: 32px;
    background: url(../img/calendar.png) no-repeat right 21px center / 16px auto;
    border: 0;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    padding-left: 15px;
}
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {display: none;}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}
input[type="date"]::before {
    content: attr(data-placeholder);
    width: 100%;
}
input[type="date"]:valid::before {
    display: none;
    font-size: 15px;
    font-weight: 600;
}

#todo-list {
    font-size: 20px;
}

#todo-list div {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
li >* {
    margin-left: 15px;
}

li::before {
    content:'â­';
}
li > button {
    border: none;
    background-color: transparent;
    font-size: 20px;
}